* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}
table {
    border-collapse: collapse;
}
td {
    width: 100px;
    height: 100px;
    padding: 25px;
    text-align: center;
    font-size: 28px;
    border: 2px solid black;
    cursor: pointer;
}
#moving-info {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

.hidden {
    display: none;
}